.select-btn {
  background: transparent;
  margin-right: 12px;
  padding: 8px;
  font-family: 'roboto';
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 6px;
}

.add-styles {
  border-radius: 14px;
  color: #0284c7;
  border: 2px solid #0284c7;
}
